@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* Primary */

    ---main--background: hsl(233, 47%, 7%);
    ---card-background: hsl(244, 38%, 16%);
    ---soft--violet-accent: hsl(277, 64%, 61%);

    /* Neutral */

    ---main--font-color: hsl(0, 0%, 100%);
    ---transparent--main-para: hsla(0, 0%, 100%, 0.75);
    ---transparent--stats-heading: ((0, 0%, 100%, 0.6));    
}

body {
    background-color: var(---main--background);
}

main {
    max-width: 20.625em;
    min-height: 48.75em;
    margin: 5.625em auto 3em;
    background-color: var(---card-background);
    border-radius: 12px  12px 12px 12px;

    
}

img {
    max-width: 100%;
    mix-blend-mode: multiply;
}

figure {
    background-color: hsl(277, 64%, 61%); 
    border-radius: 12px  12px 0px 0px;  
    height: 15.15em;
}


h1 {
    /* margin: 1em auto; */
    margin-top: .625rem;
    text-align: center; 
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    padding: 0.5em;
    color: var(---main--font-color);
}

h1 span {
    color: var(---soft--violet-accent);
}

p {
    color: var(---main--font-color);
}

p.main-para {
    font-size: 0.9375rem;
    margin: -2.4em auto -0.2em;
    padding: 1.5em;
    text-align: center;
    text-indent: 0.5rem;
    line-height: 1.6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    line-height: 1;
    font-family: 'Lexend Deca', sans-serif;
}


.para-number {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.3em;
}

footer {
    text-align: center;
}

footer {
    color: var(---main--font-color)
}

footer a {
    color: var(---soft--violet-accent);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 1200px) {
   main {
    max-width: 1110px;
    min-height: 443px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 11em;
   }

   h1 {
    font-size: 2.5rem;
    margin-top: 0.5em;
    padding: 1em;
   }

   p.main-para {
    padding-right: 9em;
    margin-top: -3em;
    margin-left: 3.3em;
    text-align: justify;
    text-indent: 0.1em;
   }

   
   figure {
    height: 443px;
    width: 50%;
    background-color: hsl(277, 64%, 61%); 
    border-radius: 0px 12px 12px 0px;
    
    }
   
   img {
    background: url("./images/image-header-desktop.jpg") no-repeat center/cover;
    mix-blend-mode: multiply;
    min-height: 27.70em;
    border-radius: 0px 12px 12px 0px;
  
   }

   section {
    max-width: 50%;
    /* padding: 1em; */
   }

   section .flex-number {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-left: -11em;
    margin-top: 2.5em;
   }
} 
 